body {
  padding-top: 69px;
}

.section.sidebar {
  top: 60px;
  background-color: rgba(24, 188, 156, 0.1);
}

.value-box {
  color: #fff;
}

.bg-primary {
  background-color: rgba(44, 62, 80, 0.7);
}

.storyboard-nav .sbframelist ul li.active {
  background-color: rgba(155, 7, 81, 0.589);
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: rgba(44, 62, 80, 0.7);
}


.bg-info {
  background-color: rgba(52, 152, 219, 0.7);
}

.bg-warning {
  background-color: rgba(243, 156, 18, 0.7);
}

.bg-success {
  background-color: rgba(24, 188, 156, 0.7);
}

.bg-danger {
  background-color: rgba(231, 76, 60, 0.7);
}


.navbar-inverse {
  background-color: #474747;
  border-color: #99115e;
}


.storyboard-nav .sbframelist {
  margin: 0 auto;
  width: 94%;
  height: 50px;
  overflow: hidden;
  text-shadow: none;
  margin-bottom: 8px;
  color: #474747;
}

.storyboard-nav .sbnext, .storyboard-nav .sbprev {
  float: center;
  width: 2%;
  height: 50px;
  font-size: 50px;
  color: #474747;
  
}